@import 'compass';
@import 'susy';
@import 'normalize';

@include normalize;

$default-page-container-background: #CCCCCC;

$splash-page-intro-animation: fade-in 1.5s;
$splash-page-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.5);
$splash-page-image: 'raw/splash-logo.png';

$button-color: #FFFFFF;
$button-background: #999999;
$button-hover-background: #555555;

@import 'modules/all';
