@import 'compass';
@import 'susy';
@import 'normalize';

@include normalize;

$splash-page-image: 'raw/splash-logo.png';
$default-page-container-background: #CCCCCC;

$button-color: #FFFFFF;
$button-background: #999999;
$button-hover-background: #555555;

@import 'modules/all';
